# Indexing/Slicing

.loc : 명시적인 인덱스를 참조하는 인덱싱/슬라이싱

In [17]:
print(country)
# 데이터 프레임을 만들었다면, index와 column도 각각 확인해보세요.
print("--------------------------------------------------------")
print(country.loc['china'])
print("--------------------------------------------------------")

print(country.loc['korea':'japan',:'population'])# 순서 주의

       population         gdp  gdp per capita
korea        5180   169320000    32687.258687
japan       12718   516700000    40627.457147
china      141500  1409250000     9959.363958
usa         32676  2041280000    62470.314604
--------------------------------------------------------
population        1.415000e+05
gdp               1.409250e+09
gdp per capita    9.959364e+03
Name: china, dtype: float64
--------------------------------------------------------
       population
korea        5180
japan       12718

.iloc : 파이썬 스타일 정수 인덱스 인덱싱/슬라이싱

In [18]:
print(country.iloc[0])
print(country.iloc[1:3, :2])

population        5.180000e+03
gdp               1.693200e+08
gdp per capita    3.268726e+04
Name: korea, dtype: float64
       population         gdp
japan       12718   516700000
china      141500  1409250000

리스트로 추가 or 딕셔너리로 추가

In [22]:
dataframe= pd.DataFrame(columns=['이름','나이','주소'])
dataframe.loc[0] = ['임원균', '26', '서울']
dataframe.loc[1] = {'이름':'철수', '나이':'25', '주소':'인천'}
dataframe.loc[1, '이름'] = '영희'
print(dataframe)

    이름  나이  주소
0  임원균  26  서울
1   영희  25  인천

새로운 컬럼추가

In [27]:
import numpy as np
dataframe['전화번호'] = np.nan
dataframe.loc[0,'전화번호']= '01045283518'
print(dataframe)
len(dataframe)

    이름  나이  주소         전화번호
0  임원균  26  서울  01045283518
1   영희  25  인천          NaN

2

컬럼 선택하기<br>
컬럼 이름이 하나만 있다면 Series<br>
리스트로 들어가 있다면 DataFrame

In [29]:
dataframe['이름']
dataframe[['이름', '주소', '나이']]

    이름  주소  나이
0  임원균  서울  26
1   영희  인천  25

In [31]:
import numpy as np
import pandas as pd

# 첫번째 컬럼을 인덱스로 country.csv 파일 읽어오기.
print("Country DataFrame")
country = pd.read_csv("./country.csv", index_col=0)
print(country, "\n")

# 명시적 인덱싱을 사용하여 데이터프레임의 "china" 인덱스를 출력해봅시다.

print(country.loc['china'])
# # 정수 인덱싱을 사용하여 데이터프레임의 1번째부터 3번째 인덱스를 출력해봅시다.
print(country.iloc[1:4])

Country DataFrame
              gdp  population  gdp per capita
china  1409250000      141500     9959.363958
japan   516700000       12718    40627.457147
korea   169320000        5180    32687.258687
usa    2041280000       32676    62470.314604

gdp               1.409250e+09
population        1.415000e+05
gdp per capita    9.959364e+03
Name: china, dtype: float64
              gdp  population  gdp per capita
japan   516700000       12718    40627.457147
korea   169320000        5180    32687.258687
usa    2041280000       32676    62470.314604