# 조건으로 검색하기

numpy array 와 마찬가지로 masking 연산이 가능하다.

In [3]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.rand(5,2), columns=["A","B"])
df["A"]<0.5

0     True
1    False
2     True
3    False
4     True
Name: A, dtype: bool

조건에 맞는 DataFrame row 를  추출 가능하다.

In [6]:
df = pd.DataFrame(np.random.rand(5,2), columns=["A","B"])
print(df[(df["A"]<0.5) & (df["B"] >0.3)])
print(df.query("A<0.5 and B > 0.3"))

         A         B
1  0.12241  0.684155
         A         B
1  0.12241  0.684155

문자열이라면 다른 방식으로도 조건 검색이 가능하다.
```python
df["Animal"].str.contains("Cat")
df.Animal.str.match("Cat")
```

In [8]:

print("Masking & query")
df = pd.DataFrame(np.random.rand(5, 2), columns=["A", "B"])
print(df, "\n")

#데이터 프레임에서 A컬럼값이 0.5보다 작고 B컬럼 값이 0.3보다 큰값들을 구해봅시다.

print(df.query('A < 0.5 and B > 0.3'))
print(df[(df["A"] < 0.5) & (df["B"] > 0.3)])

Masking & query
          A         B
0  0.961674  0.914130
1  0.687810  0.800684
2  0.781959  0.108849
3  0.212314  0.385208
4  0.841150  0.906262

          A         B
3  0.212314  0.385208
          A         B
3  0.212314  0.385208

# 함수로 데이터 처리하기

apply를 통해서 함수로 데이터를 다룰 수 있다.

In [16]:
df = pd.DataFrame(np.arange(5), columns=["Num"])
def square(x):
    return x**2
print(df["Num"].apply(square))#함수적용
df["Square"]=df.Num.apply(lambda x : x**2)
df

0     0
1     1
2     4
3     9
4    16
Name: Num, dtype: int64

   Num  Square
0    0       0
1    1       1
2    2       4
3    3       9
4    4      16

In [18]:
df= pd.DataFrame(columns=["phone"])
df.loc[0] = "010-1234-1235"
df.loc[1] = "공일공-일이삼사-1235"
df.loc[2] = "010.1234.일이삼오"
df.loc[3] = "공1공-1234.1이3오"
df["preprocess_phone"] = ''
df

           phone preprocess_phone
0  010-1234-1235
1  공일공-일이삼사-1235
2  010.1234.일이삼오
3  공1공-1234.1이3오

In [21]:
def get_preprocess_phone(phone):
    mapping_dict= {
        "공": "0",
        "일": "1",
        "이": "2",
        "삼": "3",
        "사": "4",
        "오": "5",
        "-": "",
        ".": "",
    }
    for key, value in mapping_dict.items():
        phone = phone.replace(key, value)
        return phone
df["preprocess_phone"] = df["phone"].apply(get_preprocess_phone)
df

           phone preprocess_phone
0  010-1234-1235    010-1234-1235
1  공일공-일이삼사-1235    0일0-일이삼사-1235
2  010.1234.일이삼오    010.1234.일이삼오
3  공1공-1234.1이3오    010-1234.1이3오

replace : apply 기능에서 데이터 값만 대체 하고 싶을 때

In [23]:
df= pd.DataFrame(columns=["Sex"])
df.loc[0] = "Male"
df.loc[1] = "Male"
df.loc[2] = "Female"
df.loc[3] = "Female"
df.loc[4] = "Male"
df

      Sex
0    Male
1    Male
2  Female
3  Female
4    Male

In [27]:
df.Sex.replace({"Male": 0 ,"Female":1}, inplace=True)
df

   Sex
0    0
1    0
2    1
3    1
4    0